# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node & Bun dependencies
node_modules/
bun.lockb

# Build outputs
dist/
dist-ssr/
.vite/

# Local environment variables
*.local
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# TypeScript build cache
*.tsbuildinfo

# Misc: IDE & OS metadata
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
